# This file is not used anymore
[submodule ".vim/plugged/ultisnips"]
	path = .vim/plugged/ultisnips
	url = https://github.com/SirVer/ultisnips.git

[submodule ".vim/plugged/vim-github-dashboard"]
	path = .vim/plugged/vim-github-dashboard
	url = https://github.com/junegunn/vim-github-dashboard.git

[submodule ".vim/plugged/tagbar"]
	path = .vim/plugged/tagbar
	url = https://github.com/majutsushi/tagbar.git

[submodule ".vim/plugged/YCM-Generator"]
	path = .vim/plugged/YCM-Generator
	url = https://github.com/rdnetto/YCM-Generator.git

[submodule ".vim/plugged/vim-snippets"]
	path = .vim/plugged/vim-snippets
	url = https://github.com/honza/vim-snippets.git

[submodule ".vim/plugged/youcompleteme"]
	path = .vim/plugged/youcompleteme
	url = https://github.com/valloric/youcompleteme.git

[submodule ".vim/plugged/vim-surround"]
	path = .vim/plugged/vim-surround
	url = https://github.com/tpope/vim-surround.git

[submodule ".vim/plugged/vim-gitgutter"]
	path = .vim/plugged/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git

[submodule ".vim/plugged/nerdtree"]
	path = .vim/plugged/nerdtree
	url = https://github.com/preservim/nerdtree.git

[submodule ".vim/plugged/vim-fugitive"]
	path = .vim/plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git

[submodule ".vim/plugged/vim-airline-themes"]
	path = .vim/plugged/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git

[submodule ".vim/plugged/syntastic"]
	path = .vim/plugged/syntastic
	url = https://github.com/scrooloose/syntastic.git

[submodule ".vim/plugged/oceanic-material"]
	path = .vim/plugged/oceanic-material
	url = https://github.com/hardcoreplayers/oceanic-material.git

[submodule ".vim/plugged/gocode"]
	path = .vim/plugged/gocode
	url = https://github.com/nsf/gocode.git

[submodule ".vim/plugged/fzf"]
	path = .vim/plugged/fzf
	url = https://github.com/junegunn/fzf.git

[submodule ".vim/plugged/vim-easy-align"]
	path = .vim/plugged/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git

[submodule ".vim/plugged/gruvbox"]
	path = .vim/plugged/gruvbox
	url = https://github.com/morhetz/gruvbox.git

[submodule ".vim/plugged/vim-airline"]
	path = .vim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline.git

[submodule ".vim/plugged/nerdcommenter"]
	path = .vim/plugged/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git

[submodule ".vim/plugged/vim-fireplace"]
	path = .vim/plugged/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git

[submodule ".vim/plugged/vim-go"]
	path = .vim/plugged/vim-go
	url = https://github.com/fatih/vim-go.git

[submodule ".vim/plugged/vim-polyglot"]
	path = .vim/plugged/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git

[submodule ".vim/colors/gruvbox"]
	path = .vim/colors/gruvbox
	url = https://github.com/morhetz/gruvbox.git

[submodule ".tmux/plugins/tmux-power"]
	path = .tmux/plugins/tmux-power
	url = https://git::@github.com/wfxr/tmux-power

[submodule ".tmux/plugins/tmux-prefix-highlight"]
	path = .tmux/plugins/tmux-prefix-highlight
	url = https://git::@github.com/tmux-plugins/tmux-prefix-highlight

[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm

[submodule ".tmux/plugins/tmux-cpu"]
	path = .tmux/plugins/tmux-cpu
	url = https://git::@github.com/tmux-plugins/tmux-cpu

